/* learn how to make an 'invert' button in jscript for dark mode! */
html * {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

/* name class section */
.name {
   color: #333333;
   padding: none;
   position: relative;
   display: inline-block;
   letter-spacing: 0.25em;
   font-size: 3em;
}

span#firstName:hover {
    background-color: palevioletred;
}

span#lastName:hover {
    background-color: palegoldenrod;
}

span#firstName:hover .first{
    display: grid;
}
span#lastName:hover .last{
    display: grid;
    left: 6.75em; /* how do I do this without hard-coding?*/
}

.popup {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    letter-spacing: 0em;
    font-size: 0.5em;
    z-index: 1000;
}

/* container class section */
.container {
    color: #9b9a9a;
    display: flex;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.box {
    flex: 1;
    text-align: center;
}

img {
    position: relative;
    display: center;
}

img:hover {
    opacity: 0.7;
    position: relative;
    display: center;
}