---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">Posted on {{ page.date | date: site.theme_config.date_format }}</time>
    {% if page.lastUpdated %}
      <br>
      <time datetime="{{ page.date }}">Last updated {{ page.lastUpdated }}</time>
    {% endif %}
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}

  <script src="https://utteranc.es/client.js"
    repo="tararoshan/tararoshan.github.io"
    issue-term="pathname"
    label="utterances-comment"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
</article>